@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
  background-color: black;
}
/* Style the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000 /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0ed57; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b0c45f; /* Color of the thumb on hover */
}